<div class="details-container" id="details-container">
	<div class="details-header">
		<div class="display-name">
		Speaker: <%= @statement.speaker %>	
		</div>		
		<div class="date">
		Date Spoken: <%= @statement.date %>
		</div>
	</div>
	<div class="details-body">
		<p><%= @statement.id %></p>
		<p class="details-text">"<%= @statement.transcript %>"</p>
		<a style="text-align: center;" href="<%= @statement.url %>">Transcript Source</a>		
	</div>
	<div class="relavent-links">
		<h1>Categories Found From Statement</h1>
		<% if @categories.empty? %>
			<div>No Categories Found</div>
		<% else %>
			<div> <%= puts @categories %></div>
		<%end%>
		<% @categories.each do |category| %>
			<div class="category">
				<h2><%= category.name %></h2>
				<div class="links">
					<% if not category.articles.empty? %>
						<% category.articles.each do |article|%>
							<a style="text-align: center;" href="<%= article.url %>"><%= article.url %></a></br>					
						<% end %>
					<% else %>
						No NPR articles found for this category!
					<% end %>
				</div>
			</div>				
		<% end %>
	</div>
</div>
